In [ ]:
#list opretion
lst=[1,2,3.5,"debu",7.88]
lst.insert(1,"hello")
lst.remove(3.5)
lst.reverse()
lst.clear()
lst.append("divyanshu")
print(lst)

['divyanshu']

In [2]:
#slicing
name=[1,2,3,4,5,6,7]
print(name[1:4])
print(name[-4:-1])

[2, 3, 4]
[4, 5, 6]

In [ ]:
#tuple
tp=("hello",1,23,34.5)
print(len(tp))
print(tp[0:4])
for i in tp:  #itretion
    print(i)

4
('hello', 1, 23, 34.5)
hello
1
23
34.5

In [35]:
#set
s={1,23,45,45,"hello"}
print(type(s))
print(s.add("debu"))
print(s.remove(23))
print(len(s))
print(s)

<class 'set'>
None
None
4
{1, 'debu', 45, 'hello'}

In [40]:
#frozenset
a={1,2,3}
b={3,4,5}
print(a.intersection(b))
print(a.difference(b))
print(a.intersection_update(b))
print(a.symmetric_difference(b))
print(a.union(b))

{3}
{1, 2}
None
{4, 5}
{3, 4, 5}

In [ ]:
#dictionary
s={
   "name":"debu",
   "age":34,
   "city":"ajmer"
   }
print(len(s))
s["age"]=21
s["city"]="nagpur"
s.pop("city")
print(s)

3
{'name': 'debu', 'age': 21}